<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New person</title>
</head>
<body>
<form th:method="POST" th:action="@{/people}" th:object="${person}">
    <div>
        <label for="name">Name</label>
        <input type="text" th:field="*{name}" id="name">
        <p style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">error</p>
        <br>

        <label for="age">Age</label>
        <input type="text" th:field="*{age}" id="age">
        <p style="color:red" th:if="${#fields.hasErrors('age')}" th:errors="*{age}">error</p>
        <br>

        <label for="email">Email</label>
        <input type="text" th:field="*{email}" id="email">
        <p style="color:red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">error</p>
        <br>

        <label for="address">Address</label>
        <input type="text" th:field="*{address}" id="address">
        <p style="color:red" th:if="${#fields.hasErrors('address')}" th:errors="*{address}">error</p>
        <br>

        <input type="submit" value="Add">
    </div>
</form>
<br>
<hr>
<form th:method="GET" th:action="@{/people}">
    <input type="submit" value="Back">
</form>
</body>
</html>